In [1]:
7%3

1

In [8]:
if not (3/3!=1 and 4/4==1):
    print('true')

true

In [9]:
bool(1<2)

True

In [10]:
bool(2)

True

In [13]:
N=0
if N:
    print(N)

In [12]:
bool(0)

False

In [14]:
N=None
if N:
    print(6)

In [5]:
N=4.5
int(N)

4

In [6]:
N=-2.4
int(N)

-2

In [7]:
N=1
float(N)

1.0

In [8]:
abs(-2)

2

In [9]:
print('数学','4点')

数学 4点

In [10]:
N=6

In [11]:
N+4

10

In [12]:
N=str(N)

In [13]:
N+4

TypeError: must be str, not int

In [14]:
print('数学',4)

数学 4

In [16]:
age=4
name='武'

In [18]:
print('私は{}です。{}歳です。'.format(name,age))

私は武です。4歳です。